.tabs {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0 350px;
  width: 100%;
}

.tab {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
  color: #424242;
  font-weight: 700;
  font-size: 18px;
}

.tab.active {
  color: #e94b4b;
  font-weight: bold;
  font-size: 24px;
}

.tab.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 3px;
  border-bottom: 2px solid #e94b4b;
}
